footer.footer
  .wrapper.footer__wrapper
    .footer__left
      a.footer__logo(href="#")
      p.footer__info NewBalance обувь по ценам США Официальный магазин в Москве ООО "ИнтерТрейд Коммерц"  ИНН 7715306180 ОГРН 1027739891354
    .footer__contacts
      .footer__contacts-item Адрес
        a.footer__address-link(href="#") Мясницкая 17
      .footer__contacts-item Телефон
        span.footer__phone-number +7 (495) 150-11-07