mixin currency
  span.currency &nbsp;&#8381;
      

mixin modalCallback
  .modal.modal-callback#callback
    h3.modal__header Заказать звонок
    p.modal__text Для заказа звонка заполните форму. <br> Мы свяжемся с Вами в указанное время!
    form.form-callback(action="#")
      input(type="text" placeholder="Имя" name="name").input-text.modal__input-text
      input(type="text" placeholder="8 (999) 555-55-55" name="phone").input-text.modal__input-text
      button.btn.btn--large.modal__btn Отправить
          
mixin shop-features(modificator)
  ul.shop-features(class="shop-features--"+modificator)
    li.shop-features__item.shop-features__item--age
      .shop-features__item-wrapper
        h3.shop-features__item-header Нам 5 лет!
        p.shop-features__item-content Крупнейший магазин Newbalance в Москве
    li.shop-features__item.shop-features__item--return
      .shop-features__item-wrapper
        h3.shop-features__item-header Возврат
        p.shop-features__item-content Обмен и возврат кроссовок в течении 14 дней!
    li.shop-features__item.shop-features__item--originals
      .shop-features__item-wrapper
        h3.shop-features__item-header Оригиналы из США
        p.shop-features__item-content Качественная обувь по ценам США
    li.shop-features__item.shop-features__item--guarantee
      .shop-features__item-wrapper
        h3.shop-features__item-header Гарантия 1 год
        p.shop-features__item-content Оригинальная обувь с гарантией на год