a.sidebar__header(href="#") Все модели
ul.catalog-index
  li.catalog-index__category
    a.catalog-index__category-link.catalog-index__category-link--red(href="#") Распродажа
  li.catalog-index__category
    a.catalog-index__category-link(href="#") Женские
    ul.catalog-index__category-sections
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 574
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 580
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 670
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 990
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 996
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 999
  li.catalog-index__category
    a.catalog-index__category-link(href="#") Мужские
    ul.catalog-index__category-sections
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 530
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 574
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 576
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 580
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 670
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 990
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 996
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 997
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 998
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 999
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 1400
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") New Balance 1500
  li.catalog-index__category
    a.catalog-index__category-link(href="#") Материал
    ul.catalog-index__category-sections
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") Замша
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") Кожа
      li.catalog-index__section-item
        a.catalog-index__section-item-link(href="#") Текстиль