doctype html
html(lang='en')
  include ../templates/head.jade
  include ../templates/mixins.jade
  
  body
    .wrapper
      include ../templates/header.jade
      .content
        aside.sidebar
          include ../templates/sidebar.jade
        .catalog
          h1.inner-header Красные кроссовки New Balance со скидкой в Москве
          .breadcrumbs.breadcrumbs--black
            li.breadcrumbs__item
              a.breadcrumbs__item-link(href="#") Кроссовки New Balance
            li.breadcrumbs__item
              a.breadcrumbs__item-link(href="#") Все модели
          ul.catalog__content
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
            +item('item-1.jpg', 'New Balance женские M574BCB (2294)', '3 990', '8 700', '36', '37', '38', '39', '40')
    .sitemap
      .wrapper.sitenap__wrapper
        .sitemap__content
          .sitemap__item
            h3.sitemap__item-header Newbalance574.ru
            ul.sitemap__item-list
              li.sitemap__list-item
                a.sitemap__item-link(href="#") Магазин
              li.sitemap__list-item
                a.sitemap__item-link(href="#") Доставка
              li.sitemap__list-item
                a.sitemap__item-link(href="#") Гарантия
              li.sitemap__list-item
                a.sitemap__item-link(href="#") Сертификаты
              li.sitemap__list-item
                a.sitemap__item-link(href="#") Отзывы
          .sitemap__item
            h3.sitemap__item-header Мужские
            ul.sitemap__item-list
              li.sitemap__list-item
                a.sitemap__item-link(href="#") New Balance 574
              li.sitemap__list-item
                a.sitemap__item-link(href="#") New Balance 580
              li.sitemap__list-item
                a.sitemap__item-link(href="#") New Balance 670
              li.sitemap__list-item
                a.sitemap__item-link(href="#") New Balance 996
              li.sitemap__list-item
                a.sitemap__item-link(href="#") New Balance 990
              li.sitemap__list-item
                a.sitemap__item-link(href="#") New Balance 999
          .sitemap__item
            h3.sitemap__item-header Женские
            ul.sitemap__item-list
              li.sitemap__list-item
                a.sitemap__item-link(href="#") New Balance 574
              li.sitemap__list-item
                a.sitemap__item-link(href="#") New Balance 580
              li.sitemap__list-item
                a.sitemap__item-link(href="#") New Balance 670
              li.sitemap__list-item
                a.sitemap__item-link(href="#") New Balance 990
              li.sitemap__list-item
                a.sitemap__item-link(href="#") New Balance 996
              li.sitemap__list-item
                a.sitemap__item-link(href="#") New Balance 997
              li.sitemap__list-item
                a.sitemap__item-link(href="#") New Balance 998
              li.sitemap__list-item
                a.sitemap__item-link(href="#") New Balance 999
              li.sitemap__list-item
                a.sitemap__item-link(href="#") New Balance 1400
              li.sitemap__list-item
                a.sitemap__item-link(href="#") New Balance 1500
        .social-widget
          .social-widget__header
            a.social-widget__item.social-widget__item--active.social-widget__item--vk(href="#")
            a.social-widget__item.social-widget__item--fb(href="#")
            a.social-widget__item.social-widget__item--ok(href="#")
            a.social-widget__item.social-widget__item--instagram(href="#")
          .social-widget__content
            img(src="img/social-temporary.jpg", alt="temporary image")
    include ../templates/footer.jade
    +modalCallback